.redBlue {
    color: red;
    background-color: blue;
}

.blueRed {
    color: blue;
    background-color: red;
}

.testClass{
    font-size: xx-large;
}
.div1{
    color:red;
    border: solid 2px red;
    background-color: aquamarine;
}
.div2{
    color: blue;
    border: 5px solid blue;
    border-radius: 25px;
    padding: 20px;
}