.navigationLink {
    font-size: xx-large;
    background-color: bisque;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;

}

navigationLink:hover {
    background-color: blue;
    color: bisque;
}

.border{
    border: solid 3px red;
}
